*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 45%; } }

body {
  font-family: "Roboto", sans-serif;
  color: #757de8;
  font-weight: 300;
  line-height: 1.6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr); }
  @media only screen and (max-width: 100em) {
    .container {
      width: 70%; } }
  @media only screen and (max-width: 68.75em) {
    .container {
      width: 90%; } }
  @media only screen and (max-width: 43.75em) {
    .container {
      width: 100%;
      margin: 0;
      align-self: flex-start; } }

@keyframes pulse {
  from {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  to {
    transform: scale(1); } }

.buton {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #757de8;
  outline: 0; }
  .buton:hover {
    background-color: #002984;
    transform: scale(1.1); }

.vlerat {
  font-size: 2.2rem;
  font-weight: 600; }

.heading-2 {
  padding: .5rem;
  text-align: center; }

.header {
  background-color: #757de8;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .header__logo {
    padding: .8rem;
    height: 6rem; }
  .header__title {
    color: #ffffff;
    font-size: 5rem;
    letter-spacing: 5px;
    font-weight: 800;
    text-shadow: 5px 5px 5px #000000;
    text-transform: uppercase;
    padding-left: 2rem; }
    @media only screen and (max-width: 68.75em) {
      .header__title {
        font-size: 4rem; } }
    @media only screen and (max-width: 43.75em) {
      .header__title {
        font-size: 3.5rem; } }
    .header__title:hover {
      animation: pulse 0.7s; }

.paga {
  padding: 1rem;
  font-size: 2rem;
  background-color: #ffebee;
  color: #000000;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .paga__text {
    font-size: 2.5rem;
    padding: 1rem;
    transition: all .3s; }
  .paga__vendos {
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #000;
    width: 20rem; }
    .paga__vendos::placeholder {
      font-style: italic; }
    .paga__vendos:focus {
      border-color: #757de8;
      outline: 0;
      transform: scale(1.1); }
  .paga__lloji {
    padding: 1rem; }

.vlera {
  padding: 2rem;
  font-size: 2rem;
  color: #000000;
  background-color: #ccb9bc;
  grid-column: 1 / span 2; }
  .vlera__paga {
    font-family: "Josefin Sans", sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem; }
  .vlera__paga p {
    justify-self: center;
    text-align: right; }

.detyrimet {
  padding: 2rem;
  font-size: 1.6rem;
  color: #000000;
  background-color: #ffebee;
  grid-column: 1 / span 2; }
  .detyrimet__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 2rem; }
  .detyrimet__punemarresi {
    font-family: "Josefin Sans", sans-serif;
    justify-self: center;
    text-align: right; }
  .detyrimet__punedhenesi {
    font-family: "Josefin Sans", sans-serif;
    justify-self: center;
    text-align: right; }

.footer {
  padding: 1rem;
  font-size: 1.5rem;
  font-style: italic;
  color: #ffffff;
  background-color: #757de8;
  grid-column: 1 / -1;
  text-align: center; }
  .footer .link {
    font-size: 1.7rem;
    font-style: normal;
    text-decoration: none;
    color: currentColor;
    letter-spacing: 2px;
    font-weight: 600;
    text-shadow: 2px 2px 3px #000000;
    display: inline-block;
    transition: all .4s; }
    .footer .link:hover {
      color: #002984;
      transform: scale(1.1); }
