// COLOR VARIABLES

$primaryColor: #3f51b5;
$primaryLightColor: #757de8;
$primaryDarkColor: #002984;
$secondaryColor: #ffebee;
$secondaryLightColor: #ffffff;
$secondaryDarkColor: #ccb9bc;
$primaryTextColor: #ffffff;
$secondaryTextColor: #000000;


// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 100em;   // 1600px
$bp-large: 68.75em;   // 1100px
$bp-medium: 43.75em;    // 700px;
$bp-small: 37.5em;    // 400px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-large) {
        font-size: 55%;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 40%;
    }

}

body {
    font-family: $font-primary;
    color: $primaryLightColor;
    font-weight: 300;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.container {
    width: 50%;
    
    //margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);


    @media only screen and (max-width: $bp-largest) {
        width: 70%;
    }

    @media only screen and (max-width: $bp-large) {
        width: 90%;
    }

    @media only screen and (max-width: $bp-medium) {
        width: 100%;
        margin:0;
        align-self: flex-start
    }
    

}