// COLOR VARIABLES

$primaryColor: #3f51b5;
$primaryLightColor: #757de8;
$primaryDarkColor: #002984;
$secondaryColor: #ffebee;
$secondaryLightColor: #ffffff;
$secondaryDarkColor: #ccb9bc;
$primaryTextColor: #ffffff;
$secondaryTextColor: #000000;


// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

}

body {
    font-family: $font-primary;
    color: $primaryLightColor;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    width: 50%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    

}