.detyrimet {
    padding: 2rem;
    font-size: 1.6rem;
    color: $secondaryTextColor;
    background-color: $secondaryColor;

    grid-column: 1 / span 2;

    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 2rem;
    

    &__punemarresi {

        justify-self: center;
        text-align: right;

        }

    &__punedhenesi {

        justify-self: center;
        text-align: right;


    }


}