.detyrimet {
    padding: 2rem;
    font-size: 1.6rem;
    color: $secondaryTextColor;
    background-color: $secondaryColor;

    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    

    &__tap {

        grid-column: 1 / span 2;
        justify-self: center;
        

    }

    &__punemarresi {

        grid-column: 1 / 2;
        justify-self: center;

        }

    &__punedhenesi {

        grid-column: 2 / -1 ;
        justify-self: center;


    }
}