.vlera {
    padding: 2rem;
    font-size: 2rem;
    color: $secondaryTextColor;
    background-color: $secondaryDarkColor;


    grid-column: 1 / span 2;



    &__paga {
        font-family: $font-display;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

        grid-gap: 2rem;


    }

    &__paga p {

        
        justify-self: center;
        text-align: right;

    }


}